* {
  font-family: 'Raleway';
}

body {
	background: linear-gradient(-45deg, rgb(238,119,82), rgb(242,0,80), rgb(213,168,240), rgb(52,181,158));
	background-size: 400% 400%;
	animation: gradientBackground 8s ease infinite;
	height: 100vh;
}

@keyframes gradientBackground {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
  position: relative;
  color: rgb(6,17,52);
  text-shadow: 10px 0 rgb(227,229,14);
  margin-top: 5%;
  margin-bottom: 1%;
}

h2 {
  letter-spacing: 3px;
  font-size: 40pt;
  text-shadow: 3px 0 rgb(227,229,14);
}

h3 {
  font-size: 25pt;
  letter-spacing: 3px;
  text-shadow: 3px 0 rgb(227,229,14);
}

p {
  text-align: center;
  color:rgb(6,17,52);
  background: none;
  font-size: 18pt;
}

.rock-title,
.scissors-title,
.paper-title {
  font-size: 100pt;
  letter-spacing: 3px;
  position: relative;
}

.paper-title {
  color: rgb(227,229,14);
  text-shadow: 10px 0 rgb(6,17,52);
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
}

.main-view,
.classic-view,
.unique-view {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
}

.form,
.inputs{
  margin-top: 8%;
  margin-bottom: 8%;
  width: 100%;
  font-size: 25pt;
  display: flex;
  flex-direction: column;
  text-align:center;
  background-color:rgb(213,168,240);
  text-shadow: 3px 0 rgb(227 229 15);
  border-radius: 50%;
}

#player-input {
  margin-top: 2%;
  height: 50px;
  width: 550px;
  font-size: 25pt;
  text-align: center;
  align-self: center;
  color: rgb(227,229,14);
  text-shadow: 1px 0 rgb(227,229,14);
  background-color: rgb(6,17,52);
  border-radius: 3px;
}

.submit,
.home,
.reset-game,
.go-instructions-button {
  margin-top: 5%;
  margin-bottom: 5%;
  height: auto;
  width: auto;
  font-size: 25pt;
  color: rgb(227,229,14);
  text-shadow: 1px 0 rgb(227,229,14);
  background-color: rgb(6,17,52);
  border: 0;
  border-radius: 3px;
}

.submit:hover,
.reset-game:hover,
.home:hover,
.classic-game:hover,
.unique-game:hover,
.go-instructions-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 5px rgb(251,0,82);
}

#home-from-unique {
  margin-top: 0;
}

.reset-game {
  margin-top: 10%;
}

#home-classic {

}

.player-side,
.computer-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213,168,240);
  width: 20vw;
  border-radius: 10pt;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: inherit;
  margin-top: 10%;
}

.game-option1,
.game-option2 {
  font-size: 25pt;
  color: rgb(6,17,52);
  border: 0;
  text-shadow: 3px 0 rgb(251,0,82);
  margin: 5px;
}

.classic-game,
.unique-game {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(227,229,14);
  border-radius: 200pt/ 100pt;
  width: 400px;
  height: 200px;
}

.fighter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 5%;
  margin-bottom: 15%;
}

#scissors {
  margin-bottom: 5%;
}

.choose-fighter {
  color: rgb(6,17,52);
}

.fighter {
  max-width: 80%;
  height: auto;
  background: 0;
  transition: transform .2s;
}

.fighter:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.fighter-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(227,229,14);
  border: solid rgb(242,0,80);
  border-radius: 175pt/ 80pt;
  width: 350px;
  height: 150px;
  margin: 3%;
}

.animation-win {
  margin-bottom: 0;
  height: 600px;
  width: auto;
  position: relative;
}

.animation-tie,
.animation-lose {
  height: 400px;
  margin-bottom: 20%;
  width: auto;
  position: relative;
}

.choice-display {
  text-align: center;
  color: rgb(242,0,80);
  text-shadow: 2px 0 rgb(227,229,14);
  margin: 2%;
}

.instructions-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
}

.instructions-fighter {
  height: 400px;
  width: auto;
}

.instructions-title {
  font-size: 100pt;
}

.greater-than-text {
  font-size: 50pt;
  text-align: center;
}

.instructions-text {
  text-align: center;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out {
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.hidden {
  display: none;
}

.temporary-hidden {
  visibility: hidden;
}
